<style>
    #slides {
        position: relative;
        height: 200px;
    }

    ul {
        margin-top: 2%;
    }

    li {
        margin-left: 1%;
        text-decoration: none;
        display: inline;
    }

    .slide {
        position: absolute;
        width: 95%;
        height: 90%;
        opacity: 0;
        z-index: 1;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }

    .showing {
        opacity: 1;
        z-index: 2;
    }
</style>
<ul id="slides">
    <li class="slide showing"><img src="img/banners/1_B.jpg"></li>
    <li class="slide"><img src="img/banners/2_B.jpg"></li>
    <li class="slide"><img src="img/banners/3_B.png"></li>
    <li class="slide"><img src="img/banners/4_B.jpg"></li>
    <li class="slide"><img src="img/banners/5_B.jpg"></li>
</ul>