/*General */
.hover:hover{
  background-color: #FF9B21;
}
.white{
  background-color: white;
}
.borde1{
  border-top: 5px solid  #FF9B21;
  border-bottom: 5px solid #FF9B21 ;
  border-left: 5px solid  #63639B ;
  border-right: 5px solid  #63639B ;
}
.lila{
  background-color: #63639B;
}
.gris{
    background-color: #f0f0f0;
}
/*Inici*/
.calendari thead{
  background-color: #FF9B21;
}
/*Butaques*/
.ocupada{
  background-color: #FF9B21;
}
/*Compra */
.form{
    background-color: white;
}
