/*General*/
nav{
  font-weight: bold;
  font-size: 20px;
}

h3{
  font-weight: bold;
  font-size: 20px;
  margin-top:2%;
  margin-left: 2%;
}
h2{
  margin-top:2%;
  text-align: center;
  font-weight: bold;
  font-size:25px;
  color:#63639B;
}
article p{
  white-space: pre-wrap;
  font-size: 18px;
}
/* Inici */

.ficha_peli p{
text-align: left;
}
/*Calendari*/
.calendari td {
text-align:center;
vertical-align: middle;
}
.calendari td p {
  font-size: 13px;
}
.sessio{
  padding-right: 15%;
  padding-left:15%;
}
.sessio td {
text-align:center;
vertical-align: middle;
}

/* Butaques */
.butaques h3{  text-align: center;}
.butacasd span{font-size: 10px;}

/* Compra*/
.compra h1{font-weight: bold; color: #63639B;}
.info label{ font-weight: normal;   font-style: italic;  }
.info p{
  padding-left: 2%;
  padding-top: 2%;
  overflow: hidden;
  font-weight: bold;
  white-space: inherit;
  text-align: left;
}
.info span{  font-weight: normal;}
.contenedor p {text-align: center; }
