hr {
  border:none;
	border-bottom: 1px solid #63639B;
	box-shadow: 0 20px 20px -20px #333;
}
.sombra{
  -webkit-box-shadow: 3px 3px 16px 5px rgba(0,0,0,0.40);
  -moz-box-shadow: 3px 3px 16px 5px rgba(0,0,0,0.40);
  box-shadow: 3px 3px 16px 5px rgba(0,0,0,0.40);
}
header{
  overflow: none;
}
/* Inici */
.buscar{
  margin-top: 2%;
}
.banner{
  padding: 1%;
}
.banner img{
  width: 100%;
  height: 100%;
  border: solid 3px  #FF9B21;
}
.ficha_peli img{
  border: solid 3px #FF9B21;
}
.ficha_peli{
  padding: 2%;
  margin-top: 2%;
  overflow: none;
}
.ficha_peli article{
    padding: 1%;
    overflow: none;
  }
.ficha_peli p{
  margin-top: 1%;
  overflow: none;
}
iframe{
  border: solid 3px #63639B;
}

/*Sessio */
.sessio{
  margin-top: 2%;
}
.boto{
  margin-left: 45%;
}
/*Calendari */
.tcalendari{
padding: 2%;
}
.calendari td {
  border:1px solid black;
  padding:10px;
  width:10%;
  height:10%;
}
.sessio td {
  border:1px solid black;
  padding:10px;
  width:10%;
  height:10%;
}
/* Butaques */
.pantalla{
  margin: auto;
  width: 50%;
}
.pantalla img {
  width: 100%;
}
.article-but {
  padding: 2%;
}
.mapabutaca img {
  width:100%;
}
.mapabutaca td {
  border: 1px solid black;
}
.butacasd{
    margin-top:1%;
    margin-bottom:1%;
}
.butacasd img{
margin-left:2%;
}
.butacasd span{
  margin-top:2%;
  margin-left: 3%;
}
.resum{
  padding-top: 2%;
  padding-left:2%;
  border: solid 1px;
  margin-left: 2%;
}
.preutotal{
  background-color: none;
  border: 0;
}

/* Compra */
.form {
  overflow: none;
  padding:2%;
  margin-top: 5%;
  margin-left:1.4%;
}
.form label{
  float:left;
  margin-top:2%;
  clear: right;
}
.campo{
    width: 50%;
    float: right;
}
.btcompra{
  width: 50%;
  margin-left:20%;
}
.info p{
  margin-left: 3%;
  border: solid 1px;
}
.info label{
    float: none;
}
/*Completar compra*/
.complete{
  margin-bottom: 3%
}
/* Revisar entrada */
.contenedor{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: white;
}
.contenedor p {
  padding-top: 2%;
  text-align: center;
}
/* Actualidad */
.actualidad section{
  padding-bottom: 1%;
  padding-left: 1%;
  margin-top:2%;
}
.actualidad article{
  padding: 2%;
  border: solid 1px;
  margin-right: 2%;
  margin-left: 1%;
}
/*Admin */
.admin section{
  margin-left: 1%;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
}

.admin article{
  padding-left: 1%;
  border: solid 1px;
}
.volver{
  margin-left: 35%;
  margin-top: 2%;
}

#graphics-sectors-recaudacio {
  display:inline-block;
}
#graphics-sectors-ocupacio {
  display:inline-block;
}
#graphics-barras-recaudacio {
  display:inline-block;
}
#graphics-barras-ocupacio {
  display:inline-block;
}
